<section class="customers" id="comments-section">
  <div class="container customers__container">
    <h2 class="customers__title">What our Mentor Say</h2>

    <p class="customers__description">Кращий ментор in the World.</p>

    <ul class="customers__list">
      <li class="customers__item customers__item--first">
        <img src="./images/customers/mentor.png" alt="" width="508" />
      </li>

      <li class="customers__item customers__item--second">
        <p class="say-text">
          "Моя задача - оцінити результат. Ви можете бути хоч тричі прегарними,
          але, якщо результат вашої роботи - це якийсь треш, то ніхто на вас і
          не подивиться!" <br />
          "З мобільною версією сторінки - все гарно". <br />
          "Анімація, переходи, цупкий хедер - ок. Кожна секція на своєму місці.
          Пропорції макета дотримані".<br />
          "Користуватись вашим сайтом приємно".<br />
          "Повірте, якщо мене все влаштовує, це означає, що ви дуже добре
          попрацювали!" <br />
          "В цілому - результат вашої командної роботи - ОГОНЬ!"
        </p>
      </li>
    </ul>
  </div>
</section>
