<section id="favorites-section" class="favorites-section">
  <div class="container favorites">
    <h2 class="favorites__title">OUR TEAM</h2>
    <p class="favorites__text">
      Вони були стійкі не дивлячись на відсутність світла , тепла, мирного неба
      над головую та виконали свою роботу!
    </p>
    <ul class="favorites-list">
      <li class="favorites-list__item">
        <img src="./images/favorites/vit-header.png" alt="" />
        <div class="oner-wrapper">
          <p class="oner-name">Віталій Коржевий</p>
          <p class="oner-work">Page-header & mobile-menu</p>
        </div>
      </li>

      <li class="favorites-list__item">
        <img src="./images/favorites/vl-hero.png" alt="" />
        <div class="oner-wrapper">
          <p class="oner-name">Володимир Кущ</p>
          <p class="oner-work">Hero-section & slider</p>
        </div>
      </li>

      <li class="favorites-list__item">
        <img src="./images/favorites/ant-modal.png" alt="" />
        <div class="oner-wrapper">
          <p class="oner-name">Антон Зінченко</p>
          <p class="oner-work">Hero`s modal-menu</p>
        </div>
      </li>

      <li class="favorites-list__item">
        <img src="./images/favorites/bor-off.png" alt="" />
        <div class="oner-wrapper">
          <p class="oner-name">Борис Романов</p>
          <p class="oner-work">Offerings-section</p>
        </div>
      </li>

      <li class="favorites-list__item">
        <img src="./images/favorites/al-fav.png" alt="" />
        <div class="oner-wrapper">
          <p class="oner-name">Олександр Чірков</p>
          <p class="oner-work">Favorits-section</p>
        </div>
      </li>

      <li class="favorites-list__item">
        <img src="./images/favorites/slava-cust.png" alt="" />
        <div class="oner-wrapper">
          <p class="oner-name">В'ячеслав Кобець</p>
          <p class="oner-work">Customers-section</p>
        </div>
      </li>

      <li class="favorites-list__item">
        <img src="./images/favorites/ira-sub.png" alt="" />
        <div class="oner-wrapper">
          <p class="oner-name">Ірина Сагань</p>
          <p class="oner-work">Subscribe-section & Presentation</p>
        </div>
      </li>

      <li class="favorites-list__item">
        <img src="./images/favorites/art-foot.png" alt="" />
        <div class="oner-wrapper">
          <p class="oner-name">Артем Класс</p>
          <p class="oner-work">Footer-page</p>
        </div>
      </li>
    </ul>
  </div>
</section>
