<section class="hero">
  <div class="container container__hero">
    <div class="hero__enjoy">
      <h1 class="hero__title title">heroes of our team<br />"fantastic 9"</h1>
      <div class="hero-wrapper">
        <ul class="lider-list">
          <li class="lider-list__item">
            <div class="lider-border">
              <img
                src="./images/hero/zaika.jpg"
                alt="food"
                width="50"
                class="tl-image"
              />
              <div class="name-wrapper">
                <p class="lider-type">Team lider</p>
                <p class="lider-name">Савченко Павло Олександрович</p>
              </div>
            </div>
          </li>

          <li class="lider-list__item">
            <div class="lider-border">
              <img
                src="./images/hero/cat.jpg"
                alt="food"
                width="50"
                class="tl-image"
              />
              <div class="name-wrapper">
                <p class="lider-type">Scram master</p>
                <p class="lider-name">Савченко Віктор Олександрович</p>
              </div>
            </div>
          </li>

          <li class="lider-list__item">
            <div class="lider-border">
              <img
                src="./images/hero/dog.jpg"
                alt="food"
                width="50"
                class="tl-image"
              />
              <div class="name-wrapper">
                <p class="lider-type">Code reviewer</p>
                <p class="lider-name">Бабков Андрій Валентинович</p>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <button class="hero__button" data-modal-open>Technology</button>
    </div>

    <div class="slide__box">
      <ul class="slide one-time">
        <li class="slide__item">
          <div>
            <img
              src="./images/hero/nine.png"
              alt="food"
              class="slide__picture"
              width="528"
            />
          </div>
        </li>

        <li class="slide__item">
          <div>
            <img
              src="./images/hero/tl-ps.png"
              alt="food"
              class="slide__picture"
              width="528"
            />
          </div>
        </li>

        <li class="slide__item">
          <div>
            <img
              src="./images/hero/sm-vs.png"
              alt="food"
              class="slide__picture"
              width="528"
            />
          </div>
        </li>

        <li class="slide__item">
          <div>
            <img
              src="./images/hero/cr-ab.png"
              alt="food"
              class="slide__picture"
              width="528"
            />
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
