<section id="subscribe-section" class="subscribe__section">
  <div class="container subscribe__container">
    <img src="./images/subscribe/b-b.png" alt="Banan" width="608" />

    <div class="subscribe-wrapper">
      <h2 class="subscribe__title title">Працюємо за їжу!!!</h2>

      <p class="subscribe__text">
        На заспокійливе після Team leader'а та Scrum master'а.
      </p>
      <p class="subscribe__text">На кеди від Code reviewer'a.</p>

      <p class="donate">Donate me:</p>

      <form class="subscribe-form">
        <div class="input-wrapper">
          <label class="subscribe-form__label">
            <input
              type="email"
              name="email"
              placeholder="Підкорміть початківця-ІТ-ка"
              class="subscribe-form__input"
            />

            <span class="subscribe-input-error">
              <svg class="subscribe-input-error__icon" width="24" height="24">
                <use href="./images/sprite.svg#icon-warning"></use>
              </svg>

              <span class="subscribe-input-error__text"
                >ОБЕРЕЖНО!!! Коли ІТ-нік голодий, він злий та агресивний!
              </span>
            </span>
          </label>
        </div>
        <button type="submit" class="subscribe-form__btn">Накормити</button>
      </form>
    </div>
  </div>
</section>
